.newContactForm {
  width: 100%;
}

.newContactForm input,
.newContactForm textarea {
  width: 100%;
  border-radius: 3px;
  padding: 0.3em;
}

.newContactForm tr {
  width: 100%;
}

.data {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
}

.newContactForm input,
.newContactForm textarea {
  font-size: 15px;
}
